.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/.DS_Store
data/.DS_Store
.Renviron
code/results_cache/
code/results_files/
*.icloud
*.Rapp.history

data/raw/CAGDP2
data/raw/CAGDP9
data/out/old
/code/defining_decline_cache
/code/defining_decline_files/figure-html
/code/defining_decline_files
/code/cz_results_cache
/code/cz_results_files/figure-html
/code/regressions_files/figure-html
/data/raw/us_large_scale_solar_pv
/data/raw/QCEW/zips
data/raw/QCEW/1990.annual.singlefile.csv
data/raw/QCEW/1991.annual.singlefile.csv
data/raw/QCEW/1992.annual.singlefile.csv
data/raw/QCEW/1993.annual.singlefile.csv
data/raw/QCEW/1994.annual.singlefile.csv
data/raw/QCEW/1995.annual.singlefile.csv
data/raw/QCEW/1996.annual.singlefile.csv
data/raw/QCEW/1997.annual.singlefile.csv
data/raw/QCEW/1998.annual.singlefile.csv
data/raw/QCEW/1999.annual.singlefile.csv
data/raw/QCEW/2000.annual.singlefile.csv
data/raw/QCEW/2001.annual.singlefile.csv
data/raw/QCEW/2002.annual.singlefile.csv
data/raw/QCEW/2003.annual.singlefile.csv
data/raw/QCEW/2004.annual.singlefile.csv
data/raw/QCEW/2005.annual.singlefile.csv
data/raw/QCEW/2006.annual.singlefile.csv
data/raw/QCEW/2007.annual.singlefile.csv
data/raw/QCEW/2008.annual.singlefile.csv
data/raw/QCEW/2009.annual.singlefile.csv
data/raw/QCEW/2010.annual.singlefile.csv
data/raw/QCEW/2011.annual.singlefile.csv
data/raw/QCEW/2012.annual.singlefile.csv
data/raw/QCEW/2013.annual.singlefile.csv
data/raw/QCEW/2014.annual.singlefile.csv
data/raw/QCEW/2015.annual.singlefile.csv
data/raw/QCEW/2016.annual.singlefile.csv
data/raw/QCEW/2017.annual.singlefile.csv
data/raw/QCEW/2019.annual.singlefile.csv
data/raw/QCEW/2018.annual.singlefile.csv
data/raw/QCEW/2020.annual.singlefile.csv
data/raw/QCEW/2021.annual.singlefile.csv
data/raw/QCEW/2022.annual.singlefile.csv

data/raw/BEA_county_econ_stats/**/*.zip
data/raw/BEA_county_econ_stats/**/*.csv
!data/raw/BEA_county_econ_stats/**/*ALL_AREAS*.csv

/code/regressions_cache
/code/regressions_files
/code/old_versions
data/raw/TheGovernmentFinanceDatabase_SchoolDistrictData/2006_classification_manual.pdf
_extensions/tarleb/parse-latex/_extension.yml
_extensions/tarleb/parse-latex/parse-latex.lua
/code/appendix_generated_files
code/images/clipboard-1905322044.png
code/tmp-pdfcrop-13810.tex
code/tmp-pdfcrop-13849.tex
/code/ss_cache_manual
code/tmp-pdfcrop-13825.tex
