.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/.DS_Store
data/.DS_Store
.Renviron
code/results_cache/
code/results_files/
*.icloud
*.Rapp.history

data/raw/BEA_county_econ_stats
data/raw/CAGDP2
data/raw/CAGDP9
data/raw/QCEW
data/out/old
/code/defining_decline_cache
/code/defining_decline_files/figure-html
/code/defining_decline_files
/code/cz_results_cache
/code/cz_results_files/figure-html
/code/regressions_files/figure-html
/data/raw/us_large_scale_solar_pv
